[submodule "ext/pdjson"]
	path = ext/pdjson
	url = https://github.com/skeeto/pdjson.git
[submodule "ext/zed_net"]
	path = ext/zed_net
	url = https://github.com/mackron/zed_net.git
[submodule "ext/tlse"]
	path = ext/tlse
	url = https://github.com/eduardsui/tlse.git
[submodule "ext/Monocypher"]
	path = ext/Monocypher
	url = https://github.com/LoupVaillant/Monocypher.git
[submodule "ext/--force"]
	path = ext/--force
	url = https://github.com/badzong/base64.git
[submodule "ext/base64"]
	path = ext/base64
	url = https://github.com/badzong/base64.git
