[Unit]
Description=NAS Status daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/nas_status.sts

[Install]
WantedBy=multi-user.target